# API credentials
username:
api_key:
region: IAD
pyrax_creds_file: ~/.rackspace_cloud_credentials

# Server config
server_flavor: performance1-1
server_image: 055143e8-2da9-439a-a52d-8063f845dec6 # Ubuntu 15.04 (PVHVM)
server_keypair: ansible_prov_1
server_name: magento_node

# Magento
magento_version: 1.9.1.1

# DB
db_user: magento
db_password: magento
db_name: magento
db_instance_name: prod_db
db_flavor: 3
db_volume: 5

# Misc
container_name: web_assets
container_ttl: 86400
autoscale_group_name: magento_web_nodes
lb_name: web_lb
dns_domain: jhtest.space
dns_email: jamie.hannaford@rackspace.com
